<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" witdh:50%>
        <tr>
            <td>cell a</td>
            <td colspan="3">cell b</td>
        </tr>
        <tr>
            <td rowspan="3">cell c</td>
            <td>cell d</td>
            <td>cell e</td>
            <td>cell f</td>
        </tr>
        <tr>
            <td>cell g</td>
            <td rowspan="2" colspan="2">cell h</td>
        </tr>
        <tr>
            <td>cell i</td>
        </tr>
    </table>
</body>
</html>